body {
    background-color: #5e90bc;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgb(179, 165, 186);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center; 
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

.nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 4px;
}

.nav a:hover {
    background-color: #1a252f;
}

input {
    width: 60%;
    padding: 6px;
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 8px 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    text-align: center;
}

.footer {
    text-align: center;
    color: rgb(133, 48, 48);
    margin-top: 20px;
}